
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/.project
*.prefs
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsBusiness/.classpath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsBusiness/.project
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsCommons/.classpath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsCommons/.project
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.classpath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.factorypath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.project
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.settings/.jsdtscope
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.settings/org.eclipse.wst.common.component
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.settings/org.eclipse.wst.common.project.facet.core.xml
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.settings/org.eclipse.wst.jsdt.ui.superType.container
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.settings/org.eclipse.wst.jsdt.ui.superType.name
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsPersistence/.classpath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsPersistence/.project
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWS/.project
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWS/.classpath
*.name
*.container
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWeb/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWeb/.settings/org.eclipse.wst.common.component
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWeb/.settings/.jsdtscope
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWeb/.project
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWeb/.factorypath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsWeb/.classpath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsServices/.project
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsServices/.classpath
Proyectos/ITSC ITM/DESARROLLO/DEV/ItscLogistics/ItscLogisticsEar/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
