<div class="sidebar" data-color="orange">
<!--
   Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
   -->
<div class="logo">
   <a href="#" class="simple-text logo-mini">
   DM
   </a>
   <a href="#" class="simple-text logo-normal">
   Demo
   </a>
   <div class="navbar-minimize">
	  <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
	  <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
	  <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
	  </button>
   </div>
</div>
<div class="sidebar-wrapper ps-container ps-theme-default ps-active-x ps-active-y" data-ps-id="0a6e5a6c-3e9f-a1d1-a088-f14743de382c">
   <div class="user">
	  <div class="photo">
		 <img src="./resources/james.jpg">
	  </div>
	  <div class="info">
		 <a data-toggle="collapse" href="#collapseExample" class="collapsed">
		 <span>
		 Mi Usuario
		 <b class="caret"></b>
		 </span>
		 </a>
		 <div class="clearfix"></div>
		 <div class="collapse" id="collapseExample">
			<ul class="nav">
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">MP</span>
				  <span class="sidebar-normal">Mi Perfil</span>
				  </a>
			   </li>
			</ul>
		 </div>
	  </div>
   </div>
   <ul class="nav">
	  <li class="active">
		 <a href="#">
			<i class="now-ui-icons education_atom"></i>
			<p>Administracion</p>
		 </a>
	  </li>
	  <li>
		 <a data-toggle="collapse" href="#pagesExamples">
			<i class="now-ui-icons files_single-copy-04"></i>
			<p>
			   Datos Maestros <b class="caret"></b>
			</p>
		 </a>
		 <div class="collapse " id="pagesExamples">
			<ul class="nav">
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">P</span>
				  <span class="sidebar-normal"> Pricing </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">T</span>
				  <span class="sidebar-normal"> Timeline </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">L</span>
				  <span class="sidebar-normal"> Login </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">R</span>
				  <span class="sidebar-normal"> Register </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">LS</span>
				  <span class="sidebar-normal"> Lock Screen </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">UP</span>
				  <span class="sidebar-normal"> User Profile </span>
				  </a>
			   </li>
			</ul>
		 </div>
	  </li>
	  <li>
		 <a data-toggle="collapse" href="#componentsExamples">
			<i class="now-ui-icons design_bullet-list-67"></i>
			<p>
			   Solicitudes <b class="caret"></b>
			</p>
		 </a>
		 <div class="collapse " id="componentsExamples">
			<ul class="nav">
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">C</span>
				  <span class="sidebar-normal"> Cerradas </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">A</span>
				  <span class="sidebar-normal"> Abiertas </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">C</span>
				  <span class="sidebar-normal"> Canceladas </span>
				  </a>
			   </li>
			   <li>
				  <a href="#">
				  <span class="sidebar-mini-icon">EP</span>
				  <span class="sidebar-normal"> En proceso </span>
				  </a>
			   </li>
			</ul>
		 </div>
	  </li>
   </ul>
   <div class="ps-scrollbar-x-rail" style="width: 80px; left: 0px; bottom: 0px;">
	  <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 48px;"></div>
   </div>
   <div class="ps-scrollbar-y-rail" style="top: 0px; height: 522px; right: 0px;">
	  <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 376px;"></div>
   </div>
</div>
</div>