<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
	http://www.springframework.org/schema/web-services  
	http://www.springframework.org/schema/web-services/web-services-2.0.xsd  
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/oxm 
	http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd">

	<context:component-scan base-package="com.loam.framework.core.security.jaxb.*" />
	<context:component-scan base-package="com.loam.framework.core.security.persistence.*" />
	<bean
		class="org.springframework.ws.transport.http.WebServiceMessageReceiverHandlerAdapter">
		<property name="messageFactory" ref="messageFactory"></property>
	</bean>

	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityLoginIn</value>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityLoginOut</value>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityAliasIn</value>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityAliasOut</value>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityEmailIn</value>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityEmailOut</value>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityTokenIn</value>
				<value>com.loam.framework.core.security.jaxb.ws.corporatesecurity.SecurityTokenOut</value>
			</list>
		</property>

		<property name="schemas">
			<list>
				<value>classpath:com/webapp/schemas/CorporateSecurityV1.xsd</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.ws.server.endpoint.adapter.GenericMarshallingMethodEndpointAdapter">
		<constructor-arg ref="jaxb2Marshaller" />
	</bean>

	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
	</bean>

	<bean
		class="org.springframework.ws.transport.http.WsdlDefinitionHandlerAdapter" />

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="*.wsdl">CorporateSecurityService</prop>
			</props>
		</property>
		<property name="defaultHandler" ref="messageDispatcher" />
	</bean>

	<bean id="messageDispatcher"
		class="org.springframework.ws.soap.server.SoapMessageDispatcher" />

	<bean id="CorporateSecurityService"
		class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<property name="wsdl"
			value="classpath:com/webapp/schemas/CorporateSecurityV1.wsdl" />
	</bean>

	<bean
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
		<property name="interceptors">
			<list>
				<ref local="validatingInterceptor" />
			</list>
		</property>
	</bean>
	<!-- <bean id="validatingInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor"> 
		com.context.framework.ws.interceptor.CustomValidatingInterceptor -->
	<bean id="validatingInterceptor"
		class="com.loam.framework.core.security.jaxb.interceptor.CustomValidatingInterceptor">
		<property name="xsdSchemaCollection" ref="schemaCollection" />
		<property name="validateRequest" value="true" />
		<property name="validateResponse" value="true" />
	</bean>

	<bean id="schemaCollection"
		class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
		<property name="xsds">
			<list>
				<value>classpath:com/webapp/schemas/CorporateSecurityV1.xsd</value>
			</list>
		</property>
		<property name="inline" value="true" />
	</bean>

	<!--class="org.springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver"> 
		com.context.framework.ws.exception.JaxbCustomSoapFaultMappingExceptionResolver -->
	<bean id="exceptionResolver"
		class="com.loam.framework.core.security.jaxb.exception.CustomSoapFaultMappingExceptionResolver">
		<property name="defaultFault" value="SERVER,Server error" />
		<property name="exceptionMappings">
			<value>com.context.framework.ws.exception.ServiceFaultException=SERVER,FaultMsg
			</value>
		</property>
		<property name="order" value="1" />
	</bean>

	<bean
		class="org.springframework.ws.soap.server.endpoint.SimpleSoapExceptionResolver">
		<property name="order" value="2" />
	</bean>

	<bean id="customEndpointInterceptor"
		class="com.loam.framework.core.security.jaxb.interceptor.CustomEndpointInterceptor"></bean>

	<sws:interceptors>
		<bean
			class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"></bean>
		<ref bean="validatingInterceptor" />
		<ref bean="customEndpointInterceptor" />
	</sws:interceptors>

	<!-- 'messageReceiverHandlerAdapter' is a magic name org.springframework.ws.transport.http.WebServiceMessageReceiverHandlerAdapter 
		-->
	<bean id="messageReceiverHandlerAdapter" class="com.loam.framework.core.security.jaxb.handler.CustomWebServiceMessageReceiverHandlerAdapter"> 
		</bean>
</beans>